:root {
  --clr-primary: #6f23b6;
  --clr-secondary: rgb(204, 64, 204);
  --clr-bg: rgb(237, 227, 247);
  --clr-shadow: rgba(0, 0, 0, 0.25);
}

*::before,
*,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-bg);
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container {
  margin: auto;
  max-width: 600px;
  min-height: 100vh;
}

.square {
  background: linear-gradient(
    45deg,
    var(--clr-primary),
    var(--clr-secondary)
  );
  border-radius: 0.25rem;
  box-shadow: 0px 0px 8px 4px var(--clr-shadow);
  height: 400px;
  width: 400px;
}

.algarism {
  animation: algarism 0.875s ease;
  display: flex;
  position: relative;
}

@keyframes algarism {
  from {
    opacity: 0;
    transform: translateY(-4rem);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.algarism-first-top {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0px 3px 14px 5px var(--clr-shadow);
  height: 45px;
  left: 4px;
  position: relative;
  transform: rotate(45deg);
  width: 20px;
  z-index: 2;
}

.algarism-first {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0px 0 8px 4px var(--clr-shadow);
  height: 100px;
  position: relative;
  width: 24px;
  z-index: 3;
}

.algarism-second,
.algarism-third {
  border: 24px solid #fff;
  border-radius: 50%;
  box-shadow: 3px 0 3px var(--clr-shadow);
  height: 100px;
  position: relative;
  width: 100px;
}

.algarism-second {
  z-index: 2;
  left: -6px;
}

.algarism-third {
  z-index: 1;
  left: -20px;
}

.text {
  animation: text 0.785s ease;
  position: relative;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

@keyframes text {
  from {
    transform: translateX(-4rem);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.text-large {
  font-size: 5.25rem;
  margin-top: -12px;
}

.text-small {
  font-size: 1.6rem;
  margin-top: -18px;
}